.odd {
    background-color: rgb(255, 192, 203);
    font-family:Verdana,"DejaVu Sans", sans-serif;
}

#ID1 {
    color:rgb(0, 0, 255);
    font-size: 36px;
}

.odd.third-element{
    font-size: 24px;
}